.table_menu
{
  width : 100%;
  text-align : center;
  margin-bottom : 20px;
}

.table_hof
{
  width : 60%;
  text-align : center;
}

.table_hof td
{
  background-color : #273234;
}

.gauche
{
  color : #FF00F0;
}

.milieu
{
  color : #FF80F0;
}

.droite
{
  color : #FFFFF0;
}

.tr_hof, .tr_admin
{
  line-height : 20px;
  vertical-align : middle;
}

.tr_hof th, .tr_admin th, .table_menu td
{
  color : silver;
  font-weight : bold;
  width : 40%;
  padding : 3px;
  border : 1px #757575 solid;
  background-image : url("../../../skin/OGSpy_skin/images/barreempire.jpg");
}

.msgOK
{
  color : lime;
  font-size : 12px;
  font-weight : bold;
}

.bbcode
{
  border : 3px ridge silver;
  
  border-radius: 5px; /* CSS3 */
  -moz-border-radius : 5px; /* Gecko */
  -khtml-border-radius: 5px; /* KHTML */
  -webkit-border-radius: 5px; /* WebKit */
  
  padding : 10px;
  font-size : 12px;

  width: 80%;
}

.warningProd
{
  width : 60%;
  font-size : 12px;
  color : black;
  
  border-radius: 3px; /* CSS3 */
  -moz-border-radius : 3px; /* Gecko */
  -khtml-border-radius: 3px; /* KHTML */
  -webkit-border-radius: 3px; /* WebKit */
  
  background : rgba(255, 0, 0, 0.6);
}

#changelog fieldset
{
  text-align : left;
  
  font-size : 13px;
  font-weight : bold;
  
  border : 3px ridge silver;
  
  border-radius: 5px; /* CSS3 */
  -moz-border-radius : 5px; /* Gecko */
  -khtml-border-radius: 5px; /* KHTML */
  -webkit-border-radius: 5px; /* WebKit */
  
  margin-bottom : 20px;
}

#changelog fieldset legend
{
  border : 2px ridge silver;  
  
  border-radius: 5px; /* CSS3 */
  -moz-border-radius : 5px; /* Gecko */
  -khtml-border-radius: 5px; /* KHTML */
  -webkit-border-radius: 5px; /* WebKit */
  
  padding : 5px;
}

#changelog p
{
  font-size : 12px;
}

.admin td
{
  color : #dedede;
  font-weight : bold;
  padding : 2px;
}
